site
.ipynb_checkpoints
html
\Titanic.ipynb
docs\titanic\Titanic2.html
docs\generator\generator_pliki\
docs\generator\28__app_subtitles_generator.excalidraw.png
docs\generator\czym_jest_eda.mp3
docs\generator\czym_jest_eda.mp4
docs\generator\generator.ipynb
docs\generator\generator.html